<a href="https://colab.research.google.com/github/niedakaito/EU_M_Math/blob/main/Chap02_4_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2-4 Pnadasの基礎

In [16]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np


# Series
sample_pandas_data = pd.Series([0, 10, 20, 30, 40, 50, 60, 70, 80, 90])
print(sample_pandas_data)
print('\n')


# indexをアルファベットでつける
sample_pandas_index_data = pd.Series(
    [0, 10, 20, 30, 40, 50, 60, 70, 80, 90],
    index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
print(sample_pandas_index_data)
print('\n')


print('データの値：', sample_pandas_index_data.values)
print('インデックスの値', sample_pandas_index_data.index)
print('\n')


attri_data1 = {'ID':['100', '101', '102', '103', '104'],
               'City':['Tokyo', 'Osaka', 'Kyoto', 'Hokkaido', 'Tokyo'],
               'Birth_year':[1990, 1989, 1992, 1997, 1982],
               'Name':['Hiroshi', 'Akira', 'Yuki', 'Satoru', 'Steve']}
attri_data_frame1 = DataFrame(attri_data1)
print(attri_data_frame1)
print('\n')


attri_data_frame_index1 = DataFrame(attri_data1, index = ['a', 'b', 'c', 'd', 'e'])
print(attri_data_frame_index1)
print('\n')


# attri_data_frame_index1


# 転置
# attri_data_frame1.T


# 列名の指定（1つの場合）
# attri_data_frame1.Birth_year


# 列名の指定（複数の場合）
# attri_data_frame1[['ID', 'Birth_year']]


# 条件（フィルター）
# attri_data_frame1[attri_data_frame1['City'] == 'Tokyo' ]


# attri_data_frame1['City'] == 'Tokyo'


# 条件（フィルター、複数の値）
# attri_data_frame1[attri_data_frame1['City'].isin(['Tokyo', 'Osaka']) ]


# attri_data_frame1.drop(['Birth_year'], axis = 1)


# 別のデータの準備
attri_data2 = {'ID':['100', '101', '102', '105', '107'],
               'Math':[50, 43, 33, 76, 98],
               'English':[90, 30, 20, 50, 30],
               'Sex':['M', 'F', 'F', 'M', 'M']}
attri_data_frame2 = DataFrame(attri_data2)
# attri_data_frame2


# データのマージ（内部結合、詳しくは6章で）
# pd.merge(attri_data_frame1, attri_data_frame2)


# データのグループ集計（詳しくは次の章で）
# attri_data_frame2.groupby('Sex')['Math'].mean()


# データの準備
attri_data2 = {'ID':['100', '101', '102', '103', '104'],
               'City':['Tokyo', 'Osaka', 'Kyoto', 'Hokkaido', 'Tokyo'],
               'Birth_year':[1990, 1989, 1992, 1997, 1982],
               'Name':['Hiroshi', 'Akiko', 'Yuki', 'Satoru', 'Steve']}
attri_data_frame2 = DataFrame(attri_data2)
attri_data_frame_index2 = DataFrame(attri_data2, index = ['e', 'b', 'a', 'd', 'c'])
# attri_data_frame_index2


# indexによるソート
# attri_data_frame_index2.sort_index()


# 値によるソート、デフォルトは昇順
# attri_data_frame_index2.Birth_year.sort_values()


# 値があるかどうかの確認
# attri_data_frame_index2.isin(['Tokyo'])


# 欠損値の取り扱い
# nameをすべてnanにする
attri_data_frame_index2['Name'] = np.nan
# attri_data_frame_index2.isnull()


# nullを判定し、合計する
attri_data_frame_index2.isnull().sum()

0     0
1    10
2    20
3    30
4    40
5    50
6    60
7    70
8    80
9    90
dtype: int64


a     0
b    10
c    20
d    30
e    40
f    50
g    60
h    70
i    80
j    90
dtype: int64


データの値： [ 0 10 20 30 40 50 60 70 80 90]
インデックスの値 Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')


    ID      City  Birth_year     Name
0  100     Tokyo        1990  Hiroshi
1  101     Osaka        1989    Akira
2  102     Kyoto        1992     Yuki
3  103  Hokkaido        1997   Satoru
4  104     Tokyo        1982    Steve


    ID      City  Birth_year     Name
a  100     Tokyo        1990  Hiroshi
b  101     Osaka        1989    Akira
c  102     Kyoto        1992     Yuki
d  103  Hokkaido        1997   Satoru
e  104     Tokyo        1982    Steve

ID            0
City          0
Birth_year    0
Name          5
dtype: int64