<a href="https://colab.research.google.com/github/niedakaito/EU_M_Math/blob/main/Chap02_4_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2-4 Pnadasの基礎

In [21]:
import pandas as pd
from pandas import Series, DataFrame


# Series
sample_pandas_data = pd.Series([0, 10, 20, 30, 40, 50, 60, 70, 80, 90])
print(sample_pandas_data)
print('\n')


# indexをアルファベットでつける
sample_pandas_index_data = pd.Series(
    [0, 10, 20, 30, 40, 50, 60, 70, 80, 90],
    index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
print(sample_pandas_index_data)
print('\n')


print('データの値：', sample_pandas_index_data.values)
print('インデックスの値', sample_pandas_index_data.index)
print('\n')


attri_data1 = {'ID':['100', '101', '102', '103', '104'],
               'City':['Tokyo', 'Osaka', 'Kyoto', 'Hokkaido', 'Tokyo'],
               'Birth_year':[1990, 1989, 1992, 1997, 1982],
               'Name':['Hiroshi', 'Akira', 'Yuki', 'Satoru', 'Steve']}
attri_data_frame1 = DataFrame(attri_data1)
print(attri_data_frame1)
print('\n')


attri_data_frame_index1 = DataFrame(attri_data1, index = ['a', 'b', 'c', 'd', 'e'])
print(attri_data_frame_index1)
print('\n')


# attri_data_frame_index1


# 転置
# attri_data_frame1.T


# 列名の指定（1つの場合）
# attri_data_frame1.Birth_year


# 列名の指定（複数の場合）
# attri_data_frame1[['ID', 'Birth_year']]


# 条件（フィルター）
# attri_data_frame1[attri_data_frame1['City'] == 'Tokyo' ]


# attri_data_frame1['City'] == 'Tokyo'


# 条件（フィルター、複数の値）
# attri_data_frame1[attri_data_frame1['City'].isin(['Tokyo', 'Osaka']) ]

0     0
1    10
2    20
3    30
4    40
5    50
6    60
7    70
8    80
9    90
dtype: int64


a     0
b    10
c    20
d    30
e    40
f    50
g    60
h    70
i    80
j    90
dtype: int64


データの値： [ 0 10 20 30 40 50 60 70 80 90]
インデックスの値 Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')


    ID      City  Birth_year     Name
0  100     Tokyo        1990  Hiroshi
1  101     Osaka        1989    Akira
2  102     Kyoto        1992     Yuki
3  103  Hokkaido        1997   Satoru
4  104     Tokyo        1982    Steve


    ID      City  Birth_year     Name
a  100     Tokyo        1990  Hiroshi
b  101     Osaka        1989    Akira
c  102     Kyoto        1992     Yuki
d  103  Hokkaido        1997   Satoru
e  104     Tokyo        1982    Steve

    ID   City  Birth_year     Name
0  100  Tokyo        1990  Hiroshi
1  101  Osaka        1989    Akira
4  104  Tokyo        1982    Steve